#title {
<<<<<<< HEAD
  margin-top: 1rem;
  text-align: center;
=======
    margin-top: 1rem;
    text-align: center;
}

#description {
    text-align: center;
>>>>>>> 1c01a24dea77ee9ef6d7a9e0b3a0e16c15737477
}